*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color-1: hsl(244, 89%, 4%);
    --bg-color-2: hsl(240, 16%, 15%);

    --normal: hsla(0, 10%, 70%, .3);
    --hover: hsla(0, 10%, 70%, .5);
    --animation-duration: .8s;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, var(--bg-color-1) 60%, var(--bg-color-2) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}