.drop-box {
    grid-row: 1;
    grid-column: 1;
    width: 400px;
    height: 350px;
    border: 3px solid hsl(0, 10%, 70%);
    border-radius: 10px;
    margin: 50px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--normal);
    animation-duration: var(--animation-duration);
}

.drop-box label {
    font-size: 2rem;
    color: white;
    text-align: center;
}

img {
    height: 100%;
    width: 100%;
}

.img-box {
    width: 30%;
    height: 30%;
    margin: -30px auto 20px auto;
    transition: all .5s ease;
}

.drop-box:hover,
.drop-box label:hover {
    cursor: pointer;
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
}

.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation-duration: var(--animation-duration)
}

@keyframes successDrop {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}

@keyframes failDrop {
    0% {
        translate: 0px;
    }
    12% {
        translate: 20px;
    }
    25% {
        translate: -20px;
    }
    37% {
        translate: 10px;
    }
    50% {
        translate: -10px;
    }    
    75% {
        translate: 5px;
    }
    82% {
        translate: -5px;
    }
    100% {
        translate: 0px;
    }
}

@keyframes successCover{
    0% {
        background-color: hsl(0, 10%, 70%);
    }
    50%,
    99% {
        background-color: hsla(100, 100%, 50%, .5);
    }
    100% {
        background-color: hsl(0, 10%, 70%);
    }
}

@keyframes failCover{
    0% {
        background-color: hsl(0, 10%, 70%);
    }
    50% {
        background-color: hsla(0, 100%, 60%, .5);
    }
    99% {
        background-color: hsla(0, 100%, 60%, .5);
    }
    100% {
        background-color: hsl(0, 10%, 70%);
    }
}