{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/icons-upload-icon-32.png' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>File Upload</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="{% static 'js/dropZone.js' %}" defer></script>
    <script src="{% static 'js/range.js' %} " defer></script>
    <script src="{% static 'js/buttons.js' %}" defer></script>
    <script src="{% static 'js/form.js' %}" defer></script>
</head>
<body>
    <form id="generateForm" class="content"  method="post" enctype="multipart/form-data">
        <div class="drop-box">
            <div class="img-box">
                <img src="{% static 'img/file-upload.svg' %}" alt="upload image icon">
            </div>
            <div class="cover"></div>
            <label id="file-label" for="file">Drop files here or click to upload</label>
            <input name="image" type="file" id="file" accept="image/*" required>
        </div>
        <div class="range-box">
            <label for="range" class="range-label">
                <p>Select scale:</p>
                <output for="range" class="range-output"></output>
                <input id="range" name="scale" class="range-input" type="range" min="1" max="5" value="4" required>
            </label>
        </div>
        <div class="btn-div">
            <button type="submit" class="upscale-btn">Upscale</button>
        </div>
    </form>

    <dialog class="output-box">
        <button class="close-btn"><img class="x-img" src="{% static 'img/x-icon.png' %}" alt="x icon"></button>
        <div class="display-box">
            <div class="box">
                <img id="original-img" src="" alt="uploaded image">
            </div>
            <div class="box">
                <p class="box-text">Scaled image</p>
                <img class="box-img" src="{% static 'img/arrow-pointing-right.svg' %}" alt="arrow pointing right">
            </div>
            <div class="box">
                <img id="upscaled-img" src="" alt="scaled image">
            </div>
        </div>
   </dialog>
</body>
</html>